<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="discription" content="main point for all assignments of CNIT 132-Intermediate HTML and CSS-831">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assignments</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="../static/css/assignments_style.css">

</head>
<body>
  <input class="input" type="button" onclick="window.location.href = 'homework1.html'; " value="Home" />
<br>
<br>
  <h1>CNIT 132 Assignments</h1>
<br>
  
  
  <ul>
  
    <li><input class="input" type="button" onclick="window.location.href = 'homework2.html'; " value="Homework 2" /></li>
  
  </ul>
  <br>
</body>
</html>