<!-- Oxana Howard,
03/02/2020 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="discription" content="main point for all tasks of CNIT 132-Intermediate HTML and CSS-831 including Assignments,MeetUp, and Final Project">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homework</title>
</head>
<body>
  <h1>Oxana Howard - CNIT 132</h1>

<ul>

  
  <li>
    <a href="homework1.html" target="_self">Home</a>
  </li>

  <li>
    <a href="assignments.html" target="_self">Assignments</a>
  </li>

  <li>
    <a href="meetup.html" target="_self">MeetUp</a>
  </li>

  <li>
    <a href="contact.html" target="_self">Contact</a>
  </li>
  


</ul>


<img src="../static/img/oxana.png" alt="Oxana H" style="width:180px;height:200px;">

<p>Hi, my name is Oxana. I was born in Soviet Union, which is Russia now, and grew up in Moscow. I got my master degree in
law and worked as a lawyer for more than a decade.
I moved to San Francisco, and it took me several years to learn English. During the time I danced a lot and even got a
dance certificate at CCSF.
In November 2018 I started learning programming (Python), took Python on spring 2019 at CCSF, since then I continue
learning.
Besides of programming, I like to travel, learn history, and dance. The chosen photos kind of reflect on that.

</p>

<hr>

<p>A Paragraph about my path in the web development
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero iste minus dolor cupiditate voluptates. Odio velit,
  sint dolores fuga distinctio quo quam reiciendis voluptas unde necessitatibus quas laboriosam. Numquam, in!
  <br>
  <a href="https://www.facebook.com" target="_blank">facebook.com</a>
</p>

<hr>

<p>A Paragraph the Counseling Service at CCSF
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero iste minus dolor cupiditate voluptates. Odio velit,
  sint dolores fuga distinctio quo quam reiciendis voluptas unde necessitatibus quas laboriosam. Numquam, in!
  <br>


  <a href=" http://www.ccsf.edu/en/student-services/student-counseling.html#leftnav" target="_blank" rel="noopener">Counseling Service at CCSF</a>
</p>

<hr>

<h2>Good Links</h2>
<ul>
  <li>
    <a href="https://www.w3schools.com" target="_blank">w3schools.com</a>
  </li>

  <li>
    <a href="https://stackoverflow.com" target="_blank">stackoverflow.com</a>
  </li>

  <li>
    <a href="https://www.coderbyte.com" target="_blank">coderbyte.com</a>
  </li>

</ul>





</body>
</html>