<!-- Oxana Howard,
03/02/2020 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="main point for all tasks of CNIT 132-Intermediate HTML and CSS-831 including Assignments,MeetUp, and Final Project">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oxana HTML-CSS</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  
</head>
<body>
  <div class="background">
  <h1>Oxana Howard - CNIT 132</h1>

<ul>

  
  <li>
    <a href="homework1.html" target="_self">HOME</a>
  </li>

  <li>
    <a href="assignments.html" target="_self">ASSIGNMENTS</a>
  </li>

  <li>
    <a href="meetup.html" target="_self">MEETUP</a>
  </li>

  <li>
    <a href="contact.html" target="_self">CONTACT</a>
  </li>

</ul>

<div class="row">

  <div class="col-3">

    <img src="../static/img/oxana.png" alt="Oxana H" style="width:160px;height:175px;">

  </div>


<div class="col-9">

  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Hi, my name is Oxana. I was born in Soviet Union, which is Russia now, and grew up in Moscow. I got my master degree
    in
    law and worked as a lawyer for more than a decade.
    I moved to San Francisco, and it took me several years to learn English. During the time I danced a lot and even got a
    dance certificate at CCSF.
    In November 2018 I started learning programming (Python), took Python on spring 2019 at CCSF, since then I continue
    learning.
    Besides of programming, I like to travel, learn history, and dance. 
  
  </p>

</div>

</div>









<hr>

<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To become a web developer, I learn Python and SQL to cover back end, JavaScript, HTML and CSS for front. By learning I mean I take classes at City college of San Francisco,
I practice coding challenges, I create small projects, I take online courses mainly from Udemy. I attend CCSF because this school gives me a great discipline and provides a solid education. As soon I have more time, I am planning to go to meetups for practicing whiteboarding. If I am lucky enough, I get internship in one of local teck companies to learn more. 
 
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  As I mantiomed above, I like to learn from 
  <a href="https://www.udemy.com" target="_blank">udemy</a>. It is a really good place to learn programming. I like this web site for three main reasons: its accessibility, its affordability, and because it provides up to date and at the same time stractured quality classes.

</p>

<hr>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  As I said before, my path of becoming a web developer includes studying at CCSF. One of the greatest thing college can offer its students is the <a href=" http://www.ccsf.edu/en/student-services/student-counseling.html#leftnav" target="_blank"
    rel="noopener">Counseling Service at CCSF</a>, which has academic and career development counselling. In the spring 2020 I personally used both of them and received good advaces about my learning path, job search strategy, practical help with writing my resume. 
  
  
</p>

<hr>

<h2>Good Links</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Once we began learning programming, it is hard to stop. The nature of programming captures you and keep you hungry for
  knowledge with which you can do more exciting things. Additional methods of learning could be using useful coding websites. There are three web sites that have helped me in my learning process, and I believe could be helpful to a new web
  developer for some point.
</p>


<div class="row">
  <div class="col-3">
  <ul>
  <li>
  <a href="https://www.w3schools.com" target="_blank">w3schools</a>
  </li>
  </ul>
</div>

<div class="col-9">

    <p>
      Online tutorial that teaches languages and technologies related to web development. It provides information in concise
      form, so if someone needs the get quick introduction or refreshment of a particular topic with an example, this is a
      good sourse.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-3">
    <ul>
      <li>
        <a href="https://stackoverflow.com" target="_blank">stackoverflow</a>
      </li>
    </ul>
  </div>

  <div class="col-9">

    <p>
      Probably one of the most popular web site. Primarily known for its section where developers ask a particular questions about a code and get replies with written code and explanation from other developers. Often, after searching your question in google, it sends you to Stackoverflow where you can find exact same or very similar qaustion that had been already asked and answred by someone else.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-3">
    <ul>
      <li>
        <a href="https://www.coderbyte.com" target="_blank">coderbyte</a>
      </li>
    </ul>
  </div>

  <div class="col-9">

    <p>
      This web site has a great collection of code challenges. I like it for its interface and the challenge structure which incuraged me to solve many of them. As a new developer I was intimidated by famouse leetcode and found Codebyter more friendly for beginners.
    </p>
  </div>
</div>




</div>
</body>
</html>